<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contagem de Tarefas</title>
</head>
<body>
    <h1>Total de Tarefas Cadastradas</h1>
    <p>O número total de tarefas cadastradas é: {{totalTasks}}</p>
</body>
</html>
